# Ignore VSCode configuration files
.vscode

# Ignore all .wasm files
*.wasm

# Ignore the compiler binary
compiler/compiler
compiler/compiler.exe

# Ignore the file generated go files in any directory
/**/*.generated.go

compiler/aotcompiler
core-dev.css
todo.md
nojsc
