# Ignore VSCode configuration files
.vscode

# Local developer Makefile overrides
Makefile.local

# Ignore all .wasm files
*.wasm

# Ignore the compiler binary
compiler/compiler
compiler/compiler.exe

# Ignore the file generated go files in any directory
/**/*.generated.go

# Ignore files named "nojsc" anywhere
**/nojsc

# But do not ignore directories named "nojsc"
!**/nojsc/

.venv-docs
site/

compiler/aotcompiler
core-dev.css
todo.md
