<div>
    <h1>Welcome Home!</h1>
    <p>This is the home page.</p>
    <nav>
        <RouterLink Href="/about">Go to About Page</RouterLink>
        <RouterLink Href="/admin">Go to Admin Page</RouterLink>
        <br/>
        {@for _, v := range Years trackBy v}
            <RouterLink Href="/blog/{v}">Go to Blogs Page ({v})</RouterLink>
            <br/>
        {@endfor}
    </nav>

    <button @onclick="ShowTheModal">Show Modal</button>
    <p>Modal result: {LastModalResult}</p>
    <p>Is modal visible: {IsMyModalVisible}</p>

    <Modal 
        IsVisible="{IsMyModalVisible}"
        Title="An Important Message"
        Type="{modal.Information}"
        ShowCancelButton="{true}"
        OnClose="HandleModalClose"
    >
        <p>This is the body of the modal.</p>
        <p>It's all type-safe and compiled!</p>

    </Modal>
</div>
